<table class="data-table">
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.full_name %></td>
      <td><%= link_to "Edit", edit_member_path(member) %></td>
      <% unless member.is_primary %><td><%= link_to "Delete", delete_member_path(member), method: :delete %></td><% end %>
    </tr>
  <% end %>
  </tbody>
</table>