<table class="data-table">
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.full_name %></td>
      <td><%= link_to "Edit", edit_member_path(member) %></td>
    </tr>
  <% end %>
  </tbody>
</table>