<div class="card">
  <div class="emoji emoji-size-155 emoji--clipboard"></div>
  <h1>Submitted Applications</h1>
    <table class="data-table">
      <thead>
      <tr>
        <th>App number</th>
        <th>Date submitted</th>
        <th>Applicant</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  <%= link_to 'New Application','#' , class: 'button button--primary' %>
</div>