<div class="card">
  <div class="emoji emoji-size-155 emoji--clipboard"></div>
  <h1>You're Eligible!</h1>
  <p>
    Exciting! Let's add more information about the members of your home.
  </p>
  <%= link_to 'Continue →', new_member_path , class: 'button button--primary' %>
</div>