<div class="card">
  <div class="emoji emoji-size-155 emoji--thumbs-up"></div>
  <h2>Great! We looked at your income and it looks like you qualify for benefits.</h2>
  <%= link_to 'Continue →', new_member_path , class: 'button button--primary' %>
</div>