<%= form_with model: @benefit_app_form, local: true, method: :post, url: save_signature_path, builder: FoundationalProjectFormBuilder, class: "form-card" do |f| %>
  <div class="emoji emoji-size-155 emoji--fountain-pen"></div>
  <h2>Type your full legal name here to sign the application</h2>
  <p>By entering your name you agree that you want to apply for benefits, that you have been honest on this application, and that you have read and agreed to the terms.</p>
  <%= f.vita_min_text_field(:signature, "") %>
  <%= f.button('Sign and submit application', type: :submit, class: "button button--wide button--primary spacing-above-60") %>
<% end %>